version: "3.8"
services:
  backend:
    build: .
    container_name: stories-backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
